### Next steps:

1) do one-hot encoding with the job titles. Create a new column with job title/industry id 

2) Once we get this, we'll be able to group by ids, and not job titles

In [1]:
import pandas as pd
import sqlite3 as sql

In [19]:
db = '../employment_data.db'
conn = sql.connect(db)

In [20]:
df = pd.read_sql_query("SELECT * FROM employment_data;", conn)

In [21]:
df

,title,company_name,location,via,job_category,location_category,description,schedule_type,job_id
0,Software Engineer - All levels,Bubble,"New York, NY",via AngelList,software engineer,new york city,"For 95% of programming jobs, the primary focus...",Full-time,eyJqb2JfdGl0bGUiOiJTb2Z0d2FyZSBFbmdpbmVlciAtIE...
1,"Software Engineer - Apple Media Products, Core...",Apple,"New York, NY",via Careers At Apple,software engineer,new york city,"Summary\nPosted: May 24, 2021\n\nRole Number:2...",Full-time,eyJqb2JfdGl0bGUiOiJTb2Z0d2FyZSBFbmdpbmVlciAtIE...
2,Software Engineer,Robinhood,"New York, NY",via LinkedIn,software engineer,new york city,Join a leading fintech company that’s democrat...,Full-time,eyJqb2JfdGl0bGUiOiJTb2Z0d2FyZSBFbmdpbmVlciIsIm...
3,Software Engineer III,Google,"New York, NY (+1 other)",via LinkedIn,software engineer,new york city,Note: By applying to this position you will ha...,Full-time,eyJqb2JfdGl0bGUiOiJTb2Z0d2FyZSBFbmdpbmVlciBJSU...
4,Software Engineer,Capital One,"New York, NY",via Capital One Careers,software engineer,new york city,"Locations: NY - New York, United States of Ame...",Full-time,eyJqb2JfdGl0bGUiOiJTb2Z0d2FyZSBFbmdpbmVlciIsIm...
...,...,...,...,...,...,...,...,...,...
7333,UX Designer-Remote,"PDS Tech, Inc.","Atlanta, GA",via TopTechJobs,UI/UX designer,atlanta georgia,You need to be highly collaborative and able t...,Full-time,eyJqb2JfdGl0bGUiOiJVWCBEZXNpZ25lci1SZW1vdGUiLC...
7334,UX Designer,Jobleads,"Atlanta, GA",via Jobilize,UI/UX designer,atlanta georgia,Welcome to the Anthem Careers site! We have be...,Full-time,eyJqb2JfdGl0bGUiOiJVWCBEZXNpZ25lciIsImNvbXBhbn...
7335,Senior UI Creative Designer,Capgemini,"Atlanta, GA",via ZipRecruiter,UI/UX designer,atlanta georgia,Capgemini is a looking for a Senior UI / Creat...,Full-time,eyJqb2JfdGl0bGUiOiJTZW5pb3IgVUkgQ3JlYXRpdmUgRG...
7336,"Senior UX Designer, Digital Transformation - R...",IHS Markit,"Atlanta, GA",via IHS Markit,UI/UX designer,atlanta georgia,Position Summary\n\nAs a key player in the dig...,Full-time,eyJqb2JfdGl0bGUiOiJTZW5pb3IgVVggRGVzaWduZXIsIE...
7337,Lead UX Designer - Remote within USA,Astound Commerce,"Atlanta, GA",via NetTemps,UI/UX designer,atlanta georgia,"Hi, we're Astound. We transform businesses wit...",Full-time,eyJqb2JfdGl0bGUiOiJMZWFkIFVYIERlc2lnbmVyIC0gUm...

In [126]:
conn.close()

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7338 entries, 0 to 7337
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              7338 non-null   object
 1   company_name       7338 non-null   object
 2   location           7338 non-null   object
 3   via                7338 non-null   object
 4   job_category       7338 non-null   object
 5   location_category  7338 non-null   object
 6   description        7338 non-null   object
 7   schedule_type      7288 non-null   object
 8   job_id             7338 non-null   object
dtypes: object(9)
memory usage: 258.0+ KB

In [29]:
df['description'] = df['description'].str.replace('\n', ' ')

In [30]:
df

,title,company_name,location,via,job_category,location_category,description,schedule_type,job_id
0,Software Engineer - All levels,Bubble,"New York, NY",via AngelList,software engineer,new york city,"For 95% of programming jobs, the primary focus...",Full-time,eyJqb2JfdGl0bGUiOiJTb2Z0d2FyZSBFbmdpbmVlciAtIE...
1,"Software Engineer - Apple Media Products, Core...",Apple,"New York, NY",via Careers At Apple,software engineer,new york city,"Summary Posted: May 24, 2021 Role Number:2002...",Full-time,eyJqb2JfdGl0bGUiOiJTb2Z0d2FyZSBFbmdpbmVlciAtIE...
2,Software Engineer,Robinhood,"New York, NY",via LinkedIn,software engineer,new york city,Join a leading fintech company that’s democrat...,Full-time,eyJqb2JfdGl0bGUiOiJTb2Z0d2FyZSBFbmdpbmVlciIsIm...
3,Software Engineer III,Google,"New York, NY (+1 other)",via LinkedIn,software engineer,new york city,Note: By applying to this position you will ha...,Full-time,eyJqb2JfdGl0bGUiOiJTb2Z0d2FyZSBFbmdpbmVlciBJSU...
4,Software Engineer,Capital One,"New York, NY",via Capital One Careers,software engineer,new york city,"Locations: NY - New York, United States of Ame...",Full-time,eyJqb2JfdGl0bGUiOiJTb2Z0d2FyZSBFbmdpbmVlciIsIm...
...,...,...,...,...,...,...,...,...,...
7333,UX Designer-Remote,"PDS Tech, Inc.","Atlanta, GA",via TopTechJobs,UI/UX designer,atlanta georgia,You need to be highly collaborative and able t...,Full-time,eyJqb2JfdGl0bGUiOiJVWCBEZXNpZ25lci1SZW1vdGUiLC...
7334,UX Designer,Jobleads,"Atlanta, GA",via Jobilize,UI/UX designer,atlanta georgia,Welcome to the Anthem Careers site! We have be...,Full-time,eyJqb2JfdGl0bGUiOiJVWCBEZXNpZ25lciIsImNvbXBhbn...
7335,Senior UI Creative Designer,Capgemini,"Atlanta, GA",via ZipRecruiter,UI/UX designer,atlanta georgia,Capgemini is a looking for a Senior UI / Creat...,Full-time,eyJqb2JfdGl0bGUiOiJTZW5pb3IgVUkgQ3JlYXRpdmUgRG...
7336,"Senior UX Designer, Digital Transformation - R...",IHS Markit,"Atlanta, GA",via IHS Markit,UI/UX designer,atlanta georgia,Position Summary As a key player in the digit...,Full-time,eyJqb2JfdGl0bGUiOiJTZW5pb3IgVVggRGVzaWduZXIsIE...
7337,Lead UX Designer - Remote within USA,Astound Commerce,"Atlanta, GA",via NetTemps,UI/UX designer,atlanta georgia,"Hi, we're Astound. We transform businesses wit...",Full-time,eyJqb2JfdGl0bGUiOiJMZWFkIFVYIERlc2lnbmVyIC0gUm...

In [27]:
a = df.groupby(['location_category','job_category']).count()
a

                                            title  company_name  location  \
location_category      job_category
atlanta georgia        UI/UX designer         168           168       168
                       back-end developer     279           279       279
                       data analyst           324           324       324
                       data scientist         254           254       254
                       front-end developer    450           450       450
                       software engineer      377           377       377
                       web developer          283           283       283
los angeles california UI/UX designer         211           211       211
                       back-end developer     156           156       156
                       data analyst           234           234       234
                       data scientist         193           193       193
                       front-end developer    380           380       380
                       software engineer      337           337       337
                       web developer          201           201       201
new york city          UI/UX designer         396           396       396
                       back-end developer     264           264       264
                       data analyst           436           436       436
                       data scientist         420           420       420
                       front-end developer    739           739       739
                       software engineer      480           480       480
                       web developer          257           257       257
newark new jersey      UI/UX designer          36            36        36
                       back-end developer      39            39        39
                       data analyst            75            75        75
                       data scientist          40            40        40
                       front-end developer     79            79        79
                       software engineer      183           183       183
                       web developer           47            47        47

                                            via  description  schedule_type  \
location_category      job_category
atlanta georgia        UI/UX designer       168          168            168
                       back-end developer   279          279            279
                       data analyst         324          324            320
                       data scientist       254          254            253
                       front-end developer  450          450            449
                       software engineer    377          377            375
                       web developer        283          283            278
los angeles california UI/UX designer       211          211            208
                       back-end developer   156          156            155
                       data analyst         234          234            233
                       data scientist       193          193            193
                       front-end developer  380          380            378
                       software engineer    337          337            336
                       web developer        201          201            198
new york city          UI/UX designer       396          396            389
                       back-end developer   264          264            264
                       data analyst         436          436            432
                       data scientist       420          420            420
                       front-end developer  739          739            735
                       software engineer    480          480            480
                       web developer        257          257            251
newark new jersey      UI/UX designer        36           36             35
                       back-end developer    39           39             39
                       data analyst          75           75             72
                       data scientist        40           40             39
                       front-end developer   79           79             79
                       software engineer    183          183            183
                       web developer         47           47             47

                                            job_id
location_category      job_category
atlanta georgia        UI/UX designer          168
                       back-end developer      279
                       data analyst            324
                       data scientist          254
                       front-end developer     450
                       software engineer       377
                       web developer           283
los angeles california UI/UX designer          211
                       back-end developer      156
                       data analyst            234
                       data scientist          193
                       front-end developer     380
                       software engineer       337
                       web developer           201
new york city          UI/UX designer          396
                       back-end developer      264
                       data analyst            436
                       data scientist          420
                       front-end developer     739
                       software engineer       480
                       web developer           257
newark new jersey      UI/UX designer           36
                       back-end developer       39
                       data analyst             75
                       data scientist           40
                       front-end developer      79
                       software engineer       183
                       web developer            47

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9097 entries, 0 to 9096
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          9097 non-null   object
 1   company_name   9097 non-null   object
 2   location       9097 non-null   object
 3   via            9097 non-null   object
 4   description    9097 non-null   object
 5   schedule_type  9027 non-null   object
 6   job_id         9097 non-null   object
dtypes: object(7)
memory usage: 248.8+ KB

# Reading csv as a dataframe

In [32]:
df_new = pd.read_csv('updated_categories_employment_data.csv')

In [118]:
df_new

,title,company_name,location,via,job_category,location_category,description,schedule_type,job_id,lowercase_title,lowercase_description
0,Software Engineer - All levels,Bubble,"New York, NY",via AngelList,software engineer,new york city,"For 95% of programming jobs, the primary focus...",Full-time,eyJqb2JfdGl0bGUiOiJTb2Z0d2FyZSBFbmdpbmVlciAtIE...,software engineer - all levels,"for 95% of programming jobs, the primary focus..."
1,"Software Engineer - Apple Media Products, Core...",Apple,"New York, NY",via Careers At Apple,software engineer,new york city,"Summary Posted: May 24, 2021 Role Number:2002...",Full-time,eyJqb2JfdGl0bGUiOiJTb2Z0d2FyZSBFbmdpbmVlciAtIE...,"software engineer - apple media products, core...","summary posted: may 24, 2021 role number:2002..."
2,Software Engineer,Robinhood,"New York, NY",via LinkedIn,software engineer,new york city,Join a leading fintech company that’s democrat...,Full-time,eyJqb2JfdGl0bGUiOiJTb2Z0d2FyZSBFbmdpbmVlciIsIm...,software engineer,join a leading fintech company that’s democrat...
3,Software Engineer III,Google,"New York, NY (+1 other)",via LinkedIn,software engineer,new york city,Note: By applying to this position you will ha...,Full-time,eyJqb2JfdGl0bGUiOiJTb2Z0d2FyZSBFbmdpbmVlciBJSU...,software engineer iii,note: by applying to this position you will ha...
4,Software Engineer,Capital One,"New York, NY",via Capital One Careers,software engineer,new york city,"Locations: NY - New York, United States of Ame...",Full-time,eyJqb2JfdGl0bGUiOiJTb2Z0d2FyZSBFbmdpbmVlciIsIm...,software engineer,"locations: ny - new york, united states of ame..."
...,...,...,...,...,...,...,...,...,...,...,...
7333,UX Designer-Remote,"PDS Tech, Inc.","Atlanta, GA",via TopTechJobs,UI/UX designer,atlanta georgia,You need to be highly collaborative and able t...,Full-time,eyJqb2JfdGl0bGUiOiJVWCBEZXNpZ25lci1SZW1vdGUiLC...,ux designer-remote,you need to be highly collaborative and able t...
7334,UX Designer,Jobleads,"Atlanta, GA",via Jobilize,UI/UX designer,atlanta georgia,Welcome to the Anthem Careers site! We have be...,Full-time,eyJqb2JfdGl0bGUiOiJVWCBEZXNpZ25lciIsImNvbXBhbn...,ux designer,welcome to the anthem careers site! we have be...
7335,Senior UI Creative Designer,Capgemini,"Atlanta, GA",via ZipRecruiter,UI/UX designer,atlanta georgia,Capgemini is a looking for a Senior UI / Creat...,Full-time,eyJqb2JfdGl0bGUiOiJTZW5pb3IgVUkgQ3JlYXRpdmUgRG...,senior ui creative designer,capgemini is a looking for a senior ui / creat...
7336,"Senior UX Designer, Digital Transformation - R...",IHS Markit,"Atlanta, GA",via IHS Markit,UI/UX designer,atlanta georgia,Position Summary As a key player in the digit...,Full-time,eyJqb2JfdGl0bGUiOiJTZW5pb3IgVVggRGVzaWduZXIsIE...,"senior ux designer, digital transformation - r...",position summary as a key player in the digit...
7337,Lead UX Designer - Remote within USA,Astound Commerce,"Atlanta, GA",via NetTemps,UI/UX designer,atlanta georgia,"Hi, we're Astound. We transform businesses wit...",Full-time,eyJqb2JfdGl0bGUiOiJMZWFkIFVYIERlc2lnbmVyIC0gUm...,lead ux designer - remote within usa,"hi, we're astound. we transform businesses wit..."

In [119]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7338 entries, 0 to 7337
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  7338 non-null   object
 1   company_name           7338 non-null   object
 2   location               7322 non-null   object
 3   via                    7338 non-null   object
 4   job_category           7338 non-null   object
 5   location_category      7338 non-null   object
 6   description            7338 non-null   object
 7   schedule_type          7288 non-null   object
 8   job_id                 7338 non-null   object
 9   lowercase_title        7338 non-null   object
 10  lowercase_description  7338 non-null   object
dtypes: object(11)
memory usage: 315.4+ KB

## Converting Title names and Descriptions to lowercase

In [37]:
def lowercase(col):
    return list(map(lambda x: x.lower(), df_new[col]))

df_new['lowercase_title'] = lowercase('title')
df_new['lowercase_description'] = lowercase('description')

In [123]:
df_new['job_category'].unique()

array(['software engineer', 'data analyst', 'web developer',
       'data scientist', 'front-end developer', 'back-end developer',
       'UI/UX designer'], dtype=object)

## Need to create a dictionary with the count of technologies per job title, per city

### Let's do all of the jobs in NY

In [98]:
def job_postings(job_category, location):
    return df_new[(df_new['job_category'] == job_category) & (df_new['location_category'] == location)]

In [124]:
software_engineer_ny = job_postings('software engineer', 'new york city')
data_analyst_ny = job_postings('data analyst', 'new york city')
web_developer_ny = job_postings('web developer', 'new york city')
data_scientist_ny = job_postings('data scientist', 'new york city')
front_end_developer_ny = job_postings('front-end developer', 'new york city')
back_end_developer_ny = job_postings('back-end developer', 'new york city')
uiux_designer_ny = job_postings('UI/UX designer', 'new york city')

In [101]:
# software_engineer_ny = df_new[(df_new['job_category'] == 'software engineer') & (df_new['location_category'] == 'new york city')]
# software_engineer_ny

In [102]:
# software_engineer_ny['lowercase_description'].values

In [46]:
all_technologies = ['python', 'ruby', 'scala', 'java', 'javascript', 'html', 'css', 'aws', 'node js',
                    'c#', 'c++', 'git', 'github', 'sql', 'mysql', 'postgresql', 'oracle'
                   'linux', 'hadoop',  'scala', 'spark', 'nosql', 'rest apis', 'node.js', 
                   'mongodb', 'docker', 'kubernetes', 'terraform', 'teamcity', 'angular js', 'ides', 'bash'
                   'http', 'react', 'angular', 'vue.js', 'apache cassandra', 'cloud services', 'oop', 'funcitonal programming'
                   'bsa/aml', 'object-oriented programming', 'ssl certificates', 'version control system',
                   'microsoft excel', 'power bi', 'stata', 'sas', 'web intelligence', 'tableau', 'snowflake',
                   'redshift', 'looker', 'braze', 'adobe', 'r programming', 'microsoft office', 'airflow', 'databricks', 'etl', 
                   'machine learning', 'powerpoint', 'matlab', 'apache shark', 'perl', 'statistics', 'matplotlib', 'pandas',
                   'numpy', 'ggplot', 'bokeh', 'flask', 'django', 'd3.js', 'scikit-learn', 'tensorflow', 'pytorch', 'nlp',
                   'meteor', '.net', 'laravel', 'zend', 'yii', 'php', 'elixir', 'express.js']

In [116]:
class Jobs:
    def __init__(self):
        self.tech = {}
        
    def append_tech(self, series):
        all_technologies = ['python', 'ruby', 'scala', 'java', 'javascript', 'html', 'css', 'aws', 'node js',
                    'c#', 'c++', 'git', 'github', 'sql', 'mysql', 'postgresql', 'oracle'
                   'linux', 'hadoop',  'scala', 'spark', 'nosql', 'rest apis', 'node.js', 
                   'mongodb', 'docker', 'kubernetes', 'terraform', 'teamcity', 'angular js', 'ides', 'bash'
                   'http', 'react', 'angular', 'vue.js', 'apache cassandra', 'cloud services', 'oop', 'funcitonal programming'
                   'bsa/aml', 'object-oriented programming', 'ssl certificates', 'version control system',
                   'microsoft excel', 'power bi', 'stata', 'sas', 'web intelligence', 'tableau', 'snowflake',
                   'redshift', 'looker', 'braze', 'adobe', 'r programming', 'microsoft office', 'airflow', 'databricks', 'etl', 
                   'machine learning', 'powerpoint', 'matlab', 'apache shark', 'perl', 'statistics', 'matplotlib', 'pandas',
                   'numpy', 'ggplot', 'bokeh', 'flask', 'django', 'd3.js', 'scikit-learn', 'tensorflow', 'pytorch', 'nlp',
                   'meteor', '.net', 'laravel', 'zend', 'yii', 'php', 'elixir', 'express.js']
        
        #going through each individual string in the job description column
        for string in series.values:
            for technology in all_technologies:
                if technology in string:
                    self.tech[technology] = self.tech.get(technology, 0) + 1
#                     if tech not in self.tech.keys():
#                         self.tech[tech] = 1
#                     else:
#                         self.tech[tech] += 1

In [112]:
software_engineerny = Jobs()
software_engineerny.append_tech(software_engineer_ny['lowercase_description'])
software_engineerny.tech

{'scala': 426,
 'aws': 204,
 'sql': 183,
 'spark': 46,
 'react': 166,
 'oop': 49,
 'java': 298,
 'nosql': 50,
 'python': 215,
 'postgresql': 40,
 'ides': 91,
 'django': 15,
 'javascript': 163,
 'c#': 65,
 'c++': 79,
 'git': 178,
 'hadoop': 26,
 'node.js': 57,
 'kubernetes': 93,
 'angular': 61,
 'machine learning': 53,
 'mongodb': 33,
 'html': 58,
 'css': 61,
 'mysql': 36,
 'github': 32,
 'rest apis': 13,
 'docker': 89,
 'ruby': 61,
 'r programming': 16,
 'terraform': 23,
 'php': 20,
 'adobe': 4,
 '.net': 27,
 'perl': 21,
 'object-oriented programming': 12,
 'statistics': 3,
 'cloud services': 10,
 'airflow': 22,
 'etl': 29,
 'snowflake': 11,
 'matlab': 3,
 'sas': 16,
 'redshift': 18,
 'flask': 7,
 'express.js': 3,
 'ssl certificates': 1,
 'version control system': 4,
 'teamcity': 3,
 'vue.js': 4,
 'elixir': 5,
 'looker': 5,
 'tensorflow': 6,
 'pytorch': 2,
 'databricks': 5,
 'nlp': 3,
 'apache cassandra': 1,
 'laravel': 4,
 'd3.js': 3,
 'pandas': 2,
 'numpy': 3,
 'tableau': 4,
 'braze': 1,
 'meteor': 2}

In [113]:
data_analystny = Jobs()
data_analystny.append_tech(data_analyst_ny['lowercase_description'])
data_analystny.tech

{'python': 209,
 'sql': 314,
 'tableau': 177,
 'snowflake': 29,
 'statistics': 159,
 'meteor': 1,
 'git': 130,
 'stata': 12,
 'scala': 142,
 'etl': 53,
 'java': 26,
 'javascript': 17,
 'github': 11,
 'postgresql': 9,
 'spark': 30,
 'docker': 5,
 'ides': 96,
 'looker': 76,
 'airflow': 9,
 'databricks': 10,
 'aws': 73,
 'r programming': 19,
 'matplotlib': 15,
 'pandas': 20,
 'numpy': 12,
 'bokeh': 4,
 'sas': 56,
 'microsoft office': 24,
 'react': 1,
 'machine learning': 59,
 'redshift': 29,
 'html': 12,
 'c++': 2,
 'powerpoint': 30,
 'mongodb': 5,
 'matlab': 8,
 'power bi': 31,
 'nosql': 9,
 'cloud services': 1,
 'microsoft excel': 37,
 'nlp': 4,
 'oop': 35,
 'adobe': 19,
 'hadoop': 26,
 'kubernetes': 3,
 '.net': 5,
 'object-oriented programming': 2,
 'd3.js': 1,
 'mysql': 8,
 'zend': 5,
 'scikit-learn': 8,
 'version control system': 1,
 'css': 2,
 'c#': 2,
 'perl': 7,
 'ggplot': 2,
 'flask': 1,
 'tensorflow': 1,
 'php': 1,
 'pytorch': 1,
 'web intelligence': 1}

In [125]:
data_scientistny = Jobs()
data_scientistny.append_tech(data_scientist_ny['lowercase_description'])
data_scientistny.tech

{'python': 340,
 'scala': 176,
 'git': 141,
 'sql': 281,
 'microsoft excel': 4,
 'machine learning': 301,
 'statistics': 244,
 'pandas': 55,
 'numpy': 43,
 'flask': 2,
 'scikit-learn': 48,
 'java': 60,
 'javascript': 15,
 'html': 8,
 'spark': 111,
 'kubernetes': 8,
 'c++': 17,
 'hadoop': 52,
 'oop': 63,
 'stata': 6,
 'matlab': 33,
 'github': 13,
 'docker': 7,
 'tableau': 74,
 'redshift': 24,
 'looker': 25,
 'tensorflow': 55,
 'pytorch': 45,
 'nlp': 53,
 'microsoft office': 6,
 'powerpoint': 15,
 'aws': 97,
 'ides': 75,
 'airflow': 20,
 'databricks': 15,
 'matplotlib': 18,
 'ggplot': 14,
 'snowflake': 12,
 'power bi': 16,
 'sas': 38,
 'nosql': 15,
 'r programming': 16,
 'mysql': 19,
 'etl': 42,
 'adobe': 8,
 'bokeh': 3,
 'postgresql': 8,
 'react': 2,
 'django': 1,
 'css': 5,
 'version control system': 2,
 'braze': 1,
 'perl': 10,
 'mongodb': 11,
 '.net': 3,
 'cloud services': 5,
 'ruby': 6,
 'object-oriented programming': 4,
 'angular': 3,
 'c#': 6,
 'php': 4,
 'd3.js': 1}

In [ ]:
front_end_developer_ny = job_postings('front-end developer', 'new york city')

In [ ]:
back_end_developer_ny = job_postings('back-end developer', 'new york city')

In [ ]:
uiux_designer_ny = job_postings('UI/UX designer', 'new york city')

In [108]:
description = 'css, and another language to know is python, python, python, ruby, and scala'
all_technologies =['python', 'ruby', 'scala']

#check dictionary per role per city
tech = {}
for item in all_technologies:
    if item in description:
        print(f'{item} is here')
        tech[item] = tech.get(item, 0)+1
#         if item not in tech.keys():
#             tech[item] = 1
#         else:
#             tech[item] += 1
print(tech)

python is here
ruby is here
scala is here
{'python': 1, 'ruby': 1, 'scala': 1}